# Photon Spectrum Cloud credentials
# Find these in your Photon project settings.
SPECTRUM_PROJECT_ID=e36cb548-cc1e-4440-8995-bc911f6065f0
SPECTRUM_PROJECT_SECRET=1WmnboIVePhlqgA3TVkb9DFE0nndaTeM52zVZtKA5e0
